@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --toastContainerTop: auto;
        --toastContainerRight: auto;
        --toastContainerBottom: 2rem;
        --toastContainerLeft: calc(50vw - 8rem);
    }

    html {
        @apply h-full;
    }

    body {
        @apply flex min-h-full bg-base-200;
    }
}

@layer components {
    .carousel::-webkit-scrollbar {
        display: initial;
    }

    .word-break {
        word-break: break-word;
    }

    .icon-small {
        @apply w-4 h-4;
    }

    .icon-medium {
        @apply w-6 h-6;
    }

    .toast-wrapper ._toastItem {
        word-break: break-word;
        @apply !rounded !w-full text-lg;
    }

    .toast-wrapper ._toastContainer {
        @apply !left-0 !right-0 w-full !pr-4 !pl-4;
    }

    .toast-success {
        --toastColor: theme("colors.success-content");
        --toastBackground: theme("colors.success");
        --toastBarBackground: theme("colors.emerald.500");
    }

    .toast-error {
        --toastColor: theme("colors.error-content");
        --toastBackground: theme("colors.error");
        --toastBarBackground: theme("colors.red.500");
    }

    a.disabled {
        @apply no-underline pointer-events-none;
    }

    .card-body {
        word-break: break-word;
        @apply p-4;
    }

    .card-body > * {
        @apply flex-wrap;
    }

    .collapse[open]>.collapse-content,
    .collapse-open>.collapse-content,
    .collapse:focus:not(.collapse-close)>.collapse-content,
    .collapse:not(.collapse-close)>input[type=checkbox]:checked~.collapse-content,
    .collapse:not(.collapse-close)>input[type=radio]:checked~.collapse-content {
        @apply h-fit;
    }
}
